.header__nav-profile {
    margin-bottom: 73px;
}

.main__profile {
    margin: 0 auto;
    width: 410px;
}

.main__profile-title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 107px;
    text-align: center;
}

.main__profile-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 16px;
}

.main__profile-data-email {
    border-top: 1px solid #E8E8E8;
}

.main__profile-label {
    margin: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.2;
}

.main__profile-value {
    margin: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.2;
    text-align: right;
    border: 0;
}

.main__profile-links {
    margin: 0 auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    bottom: 105px;
    left: calc(50% - 72px);
}

.main__profile-link {
    text-decoration: none;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
    color: #000;
    margin-bottom: 16px;
    border: 0;
    background-color: #fff;
    cursor: pointer;
}

.main__profile-link-signout {
    color: #FF3055;
}

.main__profile-save:disabled {
    opacity: 0.6;
}

.main__profile-save {
    background-color: #3456F3;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    height: 45px;
    margin-bottom: 16px;
    border: 0;
    border-radius: 3px;
}

.main__profile-form-error {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.18;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .main__profile {
        margin-top: 254px;
    }

    .main__profile-title {
        margin-bottom: 80px;
    }

    .main__profile-links {
        bottom: 113px;
        left: calc(50% - 59px);
    }
}

@media screen and (max-width: 480px) {
    .main__profile {
        box-sizing: border-box;
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        margin-top: 87px;
    }

    .main__profile-title {
        margin-bottom: 64px;
    }

    .main__profile-links {
        bottom: 23px;
        font-size: 12px;
        line-height: 1.25;
    }

    .main__profile-save {
        width:100%;
    }

}