.main__error {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.main__error-container {
    display: block;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 246px;
}

.main__error-title {
    margin: 0;
    font-weight: 400;
    font-size: 140px;
    line-height: 1.2;
    margin-bottom: 5px;
}

.main__error-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.main__error-link {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #3456F3;
    text-decoration: none;
    margin-bottom: 109px;
}

@media screen and (max-width: 768px) {
    .main__error {
        display: flex;
        justify-content: center;
    }

    .main__error-container {
        margin-top: 0;
        padding-bottom: 16px;
    }

    .main__error-link {
        position: fixed;
        bottom: 112px;
    }
}

@media screen and (max-width: 320px) {
    .main__error {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        box-sizing: border-box;
    }

    .main__error-container {
        padding-top: 15px;
    }

    .main__error-title {
        font-size: 80px;
        margin-bottom: 10px;
    }

    .main__error-text {
        font-size: 12px;
    }

    .main__error-link {
        font-size: 12px;
        position: fixed;
        bottom: 30px;
        left: calc(50% - 18px);
        margin-bottom: 0;
    }
}