@import url(../../fonts/fonts.css);

html,
body {
  margin: 0;
  padding: 0;
}

.page {
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  max-width: 38px;
  height: 38px;
}