.footer {
    padding-top: 165px;
    padding-right: 70px;
    padding-left: 70px;
}

.footer__practicum {
    color: #A0A0A0;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
}

.footer__copyright {
    border-top: 1px solid #E8E8E8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 20px;
}

.footer__copyright-year {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
}

.footer__copyright-link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.footer__copyright-link {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
    color: #000;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .footer {
        padding-top: 128px;
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding-top: 110px;
        padding-right: 18px;
        padding-left: 18px;
    }

    .footer__copyright {
        padding-top: 31px;
    }

    .footer__practicum,
    .footer__copyright-year,
    .footer__copyright-link {
        font-size: 12px;
        line-height: 1.25;
    }

    .footer__copyright,
    .footer__copyright-link-container {
        flex-direction: column;
        text-align: center;
        gap: 12px;
    }

    .footer__copyright-year {
        order: 2;
        color: #A0A0A0;
    }

    .footer__copyright-link-container {
        margin-bottom: 18px;
    }
}