.main__techs {
    background-color: #F5F5F5;
    padding-right: 70px;
    padding-left: 70px;
}

.main__techs-section-title {
    margin: 0;
    border-bottom: 1px solid #000;
    padding-bottom: 23px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 90px;
    letter-spacing: -4%;
    padding-top: 101px;
}

.main__techs-title {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 26px;
    letter-spacing: -4%;
}

.main__techs-subtitle {
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 101px;
    width: 44%;
}

.main__techs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px;
    gap: 10px;
}

.main__techs-item {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    background-color: #E8E8E8;
    padding-top: 21px;
    padding-bottom: 21px;
    width: 90px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .main__techs-section-title {
        padding-top: 85px;
        margin-bottom: 80px;
    }

    .main__techs-title {
        margin-bottom: 22px;
    }

    .main__techs-subtitle {
        margin: 0 auto;
        font-size: 12px;
        line-height: 1.5;
        width: 70%;
        margin-bottom: 83px;
    }

    .main__techs {
        padding-right: 50px;
        padding-left: 50px;
    }

    .main__techs-item {
        font-size: 12px;
        line-height: 1.25;
    }
}

@media screen and (max-width: 600px) {
    .main__techs-container {
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 190px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .main__techs {
        background-color: #fff;
        padding-right: 18px;
        padding-left: 18px;
    }

    .main__techs-section-title {
        padding-top: 41px;
        padding-bottom: 26px;
        margin-bottom: 61px;
        font-size: 18px;
        line-height: 1.2;
    }

    .main__techs-title {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 24px;
    }

    .main__techs-subtitle {
        font-size: 11px;
        line-height: 1.45;
        margin-bottom: 50px;
        width: 100%;
    }
}