.main__about-me {
    padding-right: 70px;
    padding-left: 70px;
}

.main__about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.main__about-me-section-title {
    margin: 0;
    border-bottom: 1px solid #000;
    padding-bottom: 23px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 67px;
    letter-spacing: -4%;
    padding-top: 111px;
}

.main__about-me-text {
    max-width: 600px;
}

.main__about-me-subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.16;
    margin-bottom: 18px;
    letter-spacing: -4%;
}

.main__about-me-job {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 26px;
}

.main__about-me-bio {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.58;
    margin-bottom: 96px;
}

.main__about-me-link {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    color: #000;
}

.main__about-me-photo {
    max-width: 270px;
    height: 327px;
}

@media screen and (max-width: 768px) {
    .main__about-me-container {
        margin-bottom: 88px;
    }

    .main__about-me-section-title {
        margin-bottom: 66px;
        padding-top: 81px;
    }

    .main__about-me-photo {
        max-width: 255px;
        height: 307px;
        margin-left: 49px;
    }

    .main__about-me {
        padding-right: 50px;
        padding-left: 50px;
    }

    .main__about-me-subtitle {
        font-size: 40px;
        line-height: 1;
        margin-bottom: 16px;
        letter-spacing: -4%;
    }

    .main__about-me-job {
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .main__about-me-bio {
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 87px;
    }
}

@media screen and (max-width: 515px) {
    .main__about-me-container {
        flex-direction: column;
        margin-bottom: 72px;
    }

    .main__about-me-photo {
        max-width: none;
        margin: 0;
        padding: 0;
        order: 0;
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }

    .main__about-me-text {
        order: 1;
    }

}

@media screen and (max-width: 320px) {
    .main__about-me {
        padding-right: 14px;
        padding-left: 14px;
    }

    .main__about-me-section-title {
        margin-bottom: 60px;
        padding-top: 41px;
        padding-bottom: 27px;
        font-size: 18px;
        line-height: 1.2;
    }

    .main__about-me-subtitle {
        font-size: 30px;
        line-height: 1.2;
    }

    .main__about-me-job {
        font-size: 11px;
        line-height: 1.45;
    }

    .main__about-me-bio {
        font-size: 11px;
        line-height: 1.45;
        margin-bottom: 40px;
    }

}